{# pulling the styling from base.html #}
{% extends 'base.html' %}

{% block content %}
<h2 class="main-text">What is this website all about?</h2>
<p class="main-text">Comic Book Store is an ecommerce platform built from Django on the back-end with Bootstrap for the design elements on the front-end.  Originally, the data for the comics were collected from the Marvel API.  I have since stored it in a basic json file so that pulling it down from the <a href="https://github.com/TrentHand/ComicStore/" target="_blank">GitHub Repo</a> will include everything you need to reconstruct the website.</p>

<h2 class="main-text">Who am I?</h2>
<p class="main-text">My name is Trent Hand and I'm an iOS developer in Nashville, TN.  At the time of this writing, I am currently seeking my first mobile dev position and building a lot of apps in my spare time.  If you would like to check out all of my public work, please visit my <a href="https://trenthand.GitHub.io" target="_blank">Portfolio Site</a> or my <a href="https://github.com/TrentHand/" target="_blank">GitHub</a>. If I can help you in any way possible, please shoot me an email from the <a href="/contact" target="_blank">Contact</a> page. <br>
Have an awesome Day!</p>

{% endblock %}