{% extends 'base.html' %}
{# these code blocks can mostly be found @ https://stripe.com/docs/custom-form #}
{% block script %}
<script type="text/javascript">
  Stripe.setPublishableKey('{{ publishKey }}');
  function stripeResponseHandler(status, response) {
    // Grab the form:
    var $form = $('#payment-form');

    if (response.error) { // Problem!

      // Show the errors on the form:
      $form.find('.payment-errors').text(response.error.message);
      $form.find('.submit').prop('disabled', false); // Re-enable submission

    } else { // Token was created!

      // Get the token ID:
      var token = response.id;

      // Insert the token ID into the form so it gets submitted to the server:
      $form.append($('<input type="hidden" name="stripeToken">').val(token));

      // Submit the form:
      $form.get(0).submit();
    }
  };
</script>
{% endblock %}


{% block jquery %}
$(function() {
  var $form = $('#payment-form');
  $form.submit(function(event) {
    // Disable the submit button to prevent repeated clicks:
    $form.find('.submit').prop('disabled', true);

    // Request a token from Stripe:
    Stripe.card.createToken($form, stripeResponseHandler);

    // Prevent the form from being submitted:
    return false;
  });
});
{% endblock %}

{% block content %}

    <div class="row">
          <h2 class="main-text"><a href="{% url 'home' %}">Add more comics!</a> </h2>
          {% for comic in cart_comics %}
            <div class="card card-cascade comicCard col-md-3 col-md-offset-1 col-sm-5 col-sm-offset-1 col-xs-10 col-xs-offset-2">
              <p>{{comic.comic_id}}</p>
              <img src="{{comic.comic_cover}}" class="thumbimg">
              <p>{{comic.comic_title}}</p>
              <p>{{comic.description}}</p>
              <p>${{comic.price}}</p>
              <p><a class="btn btn-default" href="{% url 'remove_comic' comic.comic_id %}" role="button">REMOVE FROM CART »</a></p>
            </div>
          {% endfor %}
    </div>

<div class='row'>
  <div class='col-sm-6 col-sm-offset-3'>
  <h3 class="main-text">Total Due:  ${{ total_price }} </h3>
    <form class='form' action="{% url 'checkout' %}" method="POST" id="payment-form"> {% csrf_token %}
      <span class="payment-errors"></span>
      <p class="main-text">This is prepopulated.  Please don't enter any card information.</p>
      <div class="form-row">
        <label>
          <span class="main-text">Card Number</span>
          <input class='form-control' type="text" size="20" data-stripe="number" value="4242424242424242">
        </label>
      </div>

      <div class="form-row">
        <label>
          <span class="main-text">Expiration (MM/YY)</span>
          <input type="text" size="2" data-stripe="exp_month" value="12">
        </label>
        <span> / </span>
        <input type="text" size="2" data-stripe="exp_year" value="22">
      </div>

      <div class="form-row">
        <label>
          <span class="main-text">CVC</span>
          <input type="text" size="4" data-stripe="cvc" value="333">
        </label>
      </div>


      <input class='btn btn-success' type="submit" class="submit" value="Submit Payment"href="{% url 'checkout' %}">
    </form>
  </div>
</div> 

{% endblock %}