{# pulling the styling from base.html #}
{% extends 'base.html' %}
{% load staticfiles %}

{% block styles %}
<style>
.jumbotron {
    text-align: center;
}
</style>
{% endblock %}


{% block jumbotron %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <h1>Comic Book Store!</h1>
  <p>Welcome to my Django E-commerce comic store.  Here, you can pretend to purchase and download your favorite Marvel comics.  Simple click on any "Add to cart" button below a comic and when finished, select the "View Cart" option from the "Account" dropdown.</p>
  <p>Please note: none of these comics are actually for purchase, this is just a project designed for my software school completion.</p>
</div>
{% endblock %}


{% block content %}
  <div class="container">
    <div class="row">
          <h2 class="main-text">Comics: </h2>
          <!-- <div> -->
          {% for comic in all_comics %}
            <div class="card card-cascade comicCard col-md-3 col-md-offset-1 col-sm-5 col-sm-offset-1 col-xs-10 col-xs-offset-2">
              <p>{{comic.comic_id}}</p>
              <img src="{{comic.comic_cover}}" class="thumbimg">
              <p>{{comic.comic_title}}</p>
              <p>{{comic.description}}</p>
              <p>${{comic.price}}</p>
              <p><a class="btn btn-default" href="{% url 'add_comic' comic.comic_id %}" role="button">ADD TO CART »</a></p>
            </div>
          {% endfor %}
          <!-- </div> -->

    </div>
  </div>
{% endblock %}
